.profile_card {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  padding: 16px;
  box-sizing: border-box;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 300px;
}

.profile-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
}

.employee-details {
  text-align: left;
  display: flex;
  gap: 4px;
  font-size: 14px;
  color: #555;
  flex-direction: column;
  width: 100%;
}

.employee-details h4 {
  /* margin: 0; */
  font-size: 16px;
  margin: 0px;
  font-weight: 600;
}


.profile-left {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  /* min-width: 120px; */
  /* max-width: 150px; */
  text-align: center;
  gap: 12px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
}

.icon-placeholder {
  font-size: 40px;
  font-weight: 600;
  /* background-color: blue; */
  margin-bottom: 0;
  display: flex;
  align-items: center;
  justify-self: center;
}

.icon-placeholder h1 {
  color: #fff;
  margin-bottom: 0px;
  /* margin: 20px; */
}

.profile-image {
  width: 100px;
  height: 100px;
  min-width: 60px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Only apply background and padding for initials */
.profile-image.initials {
  background-color: rgb(118, 118, 216);
  padding: 20px;
}

.profile-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.profile-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 15px;
  color: #444;
  overflow: visible;
  /* margin-top: -4.5%; */
  /* margin-top: 0px; */
}

.check-profile-button {
  width: 100%;
  padding: 8px 12px;
  border: 1px solid #ccc;
  color: #555;
  border-radius: 4px;
  background-color: #fff;
}

.profile-name {
  font-size: 18px;
  font-weight: 600;
  color: #222;
  margin-bottom: 4px;
}

.profile-right p {
  margin: 0;
  white-space: normal;
  overflow: visible;
  text-overflow: unset;
  line-height: 1.5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.profile-right p span:last-child {
  font-size: 14px;
  font-weight: 600;
}

.profile-right strong {
  font-weight: 600;
  color: #222;
}

@media (max-width: 768px) {
  .profile-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .profile-right {
    align-items: center;
    margin-left: 0;
  }

  .profile-right p {
    text-align: center;
  }
}